In [2]:
# Import Necessary Libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [43]:
df=pd.read_csv('Tel_Customer_Churn_Dataset.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [12]:
# columns=['SeniorCitizen','gender','Partner','Dependents','PhoneService','MultipleLines'
#         ,'InternetService','OnlineSecurity','DeviceProtection','TechSupport','StreamingTV',
#         'StreamingMovies','Contract','PaperlessBilling','PaymentMethod','OnlineBackup']

In [44]:
#Perform One Hot Encoding using get_dummies method
churn_dataset = pd.get_dummies(df, columns = ['Contract','Dependents','DeviceProtection','gender',
                                                        'InternetService','MultipleLines','OnlineBackup',
                                                        'OnlineSecurity','PaperlessBilling','Partner',
                                                        'PaymentMethod','PhoneService','SeniorCitizen',
                                                        'StreamingMovies','StreamingTV','TechSupport','Churn'],
                              drop_first=True)

In [46]:
churn_dataset.TotalCharges.replace(to_replace=' ',value=np.nan,inplace=True)

In [47]:
churn_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customerID                             7043 non-null   object
 1   tenure                                 7043 non-null   int64
 2   MonthlyCharges                         7043 non-null   float64
 3   TotalCharges                           7032 non-null   object
 4   Contract_One year                      7043 non-null   uint8
 5   Contract_Two year                      7043 non-null   uint8
 6   Dependents_Yes                         7043 non-null   uint8
 7   DeviceProtection_No internet service   7043 non-null   uint8
 8   DeviceProtection_Yes                   7043 non-null   uint8
 9   gender_Male                            7043 non-null   uint8
 10  InternetService_Fiber optic            7043 non-null   uint8
 11  InternetService_No                     7043 non-null   uint8
 12  MultipleLines_No phone service         7043 non-null   uint8
 13  MultipleLines_Yes                      7043 non-null   uint8
 14  OnlineBackup_No internet service       7043 non-null   uint8
 15  OnlineBackup_Yes                       7043 non-null   uint8
 16  OnlineSecurity_No internet service     7043 non-null   uint8
 17  OnlineSecurity_Yes                     7043 non-null   uint8
 18  PaperlessBilling_Yes                   7043 non-null   uint8
 19  Partner_Yes                            7043 non-null   uint8
 20  PaymentMethod_Credit card (automatic)  7043 non-null   uint8
 21  PaymentMethod_Electronic check         7043 non-null   uint8
 22  PaymentMethod_Mailed check             7043 non-null   uint8
 23  PhoneService_Yes                       7043 non-null   uint8
 24  SeniorCitizen_1                        7043 non-null   uint8
 25  StreamingMovies_No internet service    7043 non-null   uint8
 26  StreamingMovies_Yes                    7043 non-null   uint8
 27  StreamingTV_No internet service        7043 non-null   uint8
 28  StreamingTV_Yes                        7043 non-null   uint8
 29  TechSupport_No internet service        7043 non-null   uint8
 30  TechSupport_Yes                        7043 non-null   uint8
 31  Churn_Yes                              7043 non-null   uint8
dtypes: float64(1), int64(1), object(2), uint8(28)
memory usage: 412.8+ KB

In [49]:
churn_dataset.dropna(inplace=True)

In [50]:
churn_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customerID                             7032 non-null   object
 1   tenure                                 7032 non-null   int64
 2   MonthlyCharges                         7032 non-null   float64
 3   TotalCharges                           7032 non-null   object
 4   Contract_One year                      7032 non-null   uint8
 5   Contract_Two year                      7032 non-null   uint8
 6   Dependents_Yes                         7032 non-null   uint8
 7   DeviceProtection_No internet service   7032 non-null   uint8
 8   DeviceProtection_Yes                   7032 non-null   uint8
 9   gender_Male                            7032 non-null   uint8
 10  InternetService_Fiber optic            7032 non-null   uint8
 11  InternetService_No                     7032 non-null   uint8
 12  MultipleLines_No phone service         7032 non-null   uint8
 13  MultipleLines_Yes                      7032 non-null   uint8
 14  OnlineBackup_No internet service       7032 non-null   uint8
 15  OnlineBackup_Yes                       7032 non-null   uint8
 16  OnlineSecurity_No internet service     7032 non-null   uint8
 17  OnlineSecurity_Yes                     7032 non-null   uint8
 18  PaperlessBilling_Yes                   7032 non-null   uint8
 19  Partner_Yes                            7032 non-null   uint8
 20  PaymentMethod_Credit card (automatic)  7032 non-null   uint8
 21  PaymentMethod_Electronic check         7032 non-null   uint8
 22  PaymentMethod_Mailed check             7032 non-null   uint8
 23  PhoneService_Yes                       7032 non-null   uint8
 24  SeniorCitizen_1                        7032 non-null   uint8
 25  StreamingMovies_No internet service    7032 non-null   uint8
 26  StreamingMovies_Yes                    7032 non-null   uint8
 27  StreamingTV_No internet service        7032 non-null   uint8
 28  StreamingTV_Yes                        7032 non-null   uint8
 29  TechSupport_No internet service        7032 non-null   uint8
 30  TechSupport_Yes                        7032 non-null   uint8
 31  Churn_Yes                              7032 non-null   uint8
dtypes: float64(1), int64(1), object(2), uint8(28)
memory usage: 467.0+ KB

In [51]:
churn_dataset = churn_dataset.reset_index()[churn_dataset.columns]

# Convert 'Total Charges' column values to float data type
churn_dataset["TotalCharges"] = churn_dataset["TotalCharges"].astype(float)

In [53]:
 #Perform Feature Scaling and One Hot Encoding
from sklearn.preprocessing import StandardScaler

#Perform Feature Scaling on 'tenure', 'MonthlyCharges', 'TotalCharges' in order to bring them on same scale
standardScaler = StandardScaler()
columns_for_ft_scaling = ['tenure', 'MonthlyCharges', 'TotalCharges']

#Apply the feature scaling operation on dataset using fit_transform() method
churn_dataset[columns_for_ft_scaling] = standardScaler.fit_transform(churn_dataset[columns_for_ft_scaling])

In [54]:
churn_dataset.head()

,customerID,tenure,MonthlyCharges,TotalCharges,Contract_One year,Contract_Two year,Dependents_Yes,DeviceProtection_No internet service,DeviceProtection_Yes,gender_Male,...,PaymentMethod_Mailed check,PhoneService_Yes,SeniorCitizen_1,StreamingMovies_No internet service,StreamingMovies_Yes,StreamingTV_No internet service,StreamingTV_Yes,TechSupport_No internet service,TechSupport_Yes,Churn_Yes
0,7590-VHVEG,-1.280248,-1.161694,-0.994194,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5575-GNVDE,0.064303,-0.260878,-0.173740,1,0,0,0,1,1,...,1,1,0,0,0,0,0,0,0,0
2,3668-QPYBK,-1.239504,-0.363923,-0.959649,0,0,0,0,0,1,...,1,1,0,0,0,0,0,0,0,1
3,7795-CFOCW,0.512486,-0.747850,-0.195248,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,1,0
4,9237-HQITU,-1.239504,0.196178,-0.940457,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1

In [57]:
#Create Feature variable X and Target variable y
y = churn_dataset['Churn_Yes']
X = churn_dataset.drop(['Churn_Yes','customerID'], axis = 1)

In [58]:
#Split the data into training set (70%) and test set (30%)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 50)

In [55]:
# Machine Learning classification model libraries
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [59]:
#Fit the logistic Regression Model
logmodel = LogisticRegression(random_state=50)
logmodel.fit(X_train,y_train)

#Predict the value for new, unseen data
pred = logmodel.predict(X_test)

# Find Accuracy using accuracy_score method
logmodel_accuracy = round(metrics.accuracy_score(y_test, pred) * 100, 2)

In [60]:
#Fit the Support Vector Machine Model
svcmodel = SVC(kernel='linear', random_state=50, probability=True)
svcmodel.fit(X_train,y_train)

#Predict the value for new, unseen data
svc_pred = svcmodel.predict(X_test)

# Find Accuracy using accuracy_score method
svc_accuracy = round(metrics.accuracy_score(y_test, svc_pred) * 100, 2)

In [61]:
#Fit the K-Nearest Neighbor Model
from sklearn.neighbors import KNeighborsClassifier
knnmodel = KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2) #p=2 represents Euclidean distance, p=1 represents Manhattan Distance
knnmodel.fit(X_train, y_train) 
  
#Predict the value for new, unseen data
knn_pred = knnmodel.predict(X_test)

# Find Accuracy using accuracy_score method
knn_accuracy = round(metrics.accuracy_score(y_test, knn_pred) * 100, 2)

In [62]:
#Fit the Decision Tree Classification Model
from sklearn.tree import DecisionTreeClassifier
dtmodel = DecisionTreeClassifier(criterion = "gini", random_state = 50)
dtmodel.fit(X_train, y_train) 
  
#Predict the value for new, unseen data
dt_pred = dtmodel.predict(X_test)

# Find Accuracy using accuracy_score method
dt_accuracy = round(metrics.accuracy_score(y_test, dt_pred) * 100, 2)

In [63]:
#Fit the Random Forest Classification Model
from sklearn.ensemble import RandomForestClassifier
rfmodel = RandomForestClassifier(n_estimators = 100, criterion = 'entropy', random_state = 0)
rfmodel.fit(X_train, y_train) 
  
#Predict the value for new, unseen data
rf_pred = rfmodel.predict(X_test)

# Find Accuracy using accuracy_score method
rf_accuracy = round(metrics.accuracy_score(y_test, rf_pred) * 100, 2)

In [64]:
Model_Comparison = pd.DataFrame({
    'Model': ['Logistic Regression', 'Support Vector Machine', 'K-Nearest Neighbor', 
              'Decision Tree', 'Random Forest'],
    'Score': [logmodel_accuracy, svc_accuracy, knn_accuracy, 
              dt_accuracy, rf_accuracy]})

In [65]:
Model_Comparison

                    Model  Score
0     Logistic Regression  81.14
1  Support Vector Machine  80.76
2      K-Nearest Neighbor  76.87
3           Decision Tree  73.46
4           Random Forest  79.62

In [66]:
#Generate confusion matrix for logistics regression model as it has maximum Accuracy
from sklearn.metrics import confusion_matrix
conf_mat_logmodel = confusion_matrix(y_test,pred)
conf_mat_logmodel

array([[1396,  165],
       [ 233,  316]])

In [67]:
# Predict the probability of Churn of each customer
churn_dataset['Probability_of_Churn'] = logmodel.predict_proba(churn_dataset[X_test.columns])[:,1]

In [68]:
# Create a Dataframe showcasing probability of Churn of each customer
churn_dataset[['customerID','Probability_of_Churn']].head()

   customerID  Probability_of_Churn
0  7590-VHVEG              0.649601
1  5575-GNVDE              0.043494
2  3668-QPYBK              0.343624
3  7795-CFOCW              0.025990
4  9237-HQITU              0.693996