In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df=pd.read_csv('admission_predict.csv' )
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [3]:
df.shape

(500, 9)

In [4]:
df.drop('Serial No.',axis=1,inplace=True)
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
reg=LinearRegression()

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:7], df.iloc[:,7], test_size=0.2, random_state=42)

In [9]:
reg.fit(X_train,y_train)
pred=reg.predict(X_test)

In [10]:
from sklearn.metrics import mean_squared_error

In [11]:
mean_squared_error(y_test,pred)

0.0037046553987884097

Using cross_val_score for getting highest accuracy

In [13]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(LinearRegression(normalize=True), df.iloc[:,:7], df.iloc[:,7], cv=5)
print('Highest Accuracy : {}%'.format(round(sum(scores)*100/len(scores)), 3))

Highest Accuracy : 81.0%

In [14]:
reg.score(X_test, y_test)

0.8188432567829629

In [15]:
 # Prediction 1
# Input in the form : GRE, TOEFL, University Rating, SOP, LOR, CGPA, Research
print(f'Chance of getting into UCLA is {round(reg.predict([[337, 118, 4, 4.5, 4.5, 9.65, 0]])[0]*100, 3)}%')

Chance of getting into UCLA is 93.437%

In [16]:
 # Prediction 2
# Input in the form : GRE, TOEFL, University Rating, SOP, LOR, CGPA, Research
print(f'Chance of getting into UCLA is {round(reg.predict([[320, 113, 2, 2.0, 2.5, 8.64, 1]])[0]*100, 3)}')

Chance of getting into UCLA is 74.423

In [17]:
 # Prediction 3
# Input in the form : GRE, TOEFL, University Rating, SOP, LOR, CGPA, Research
print(f'Chance of getting into UCLA is {round(reg.predict([[337,118,4,4.5,4.5,9.65,1]])[0]*100, 3)}')

Chance of getting into UCLA is 95.839